{% extends 'pages/model.html' %}
{% load static %}

{% block Title %}
<title>Adopt.M3- Estados Lista</title>
{% endblock %}

{% block MainContent %}
<!-- About Section -->
<div class="container section-title" data-aos="fade-up" style="margin-top: 150px">
    <h2>Lista de Cadastros</h2>
    <p>Estas são as <span style="color: #0d6efd;">Cidades</span> cadastradas<br></p>
</div><!-- End Section Title -->

<section class="about section" style="margin: -65px 250px 65px 250px">

    <div class="container" data-aos="fade-up">
        <div class="row gx-0">

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th style="width: 280px;">Nome</th>
                        <th>Estado</th>
                        <th style="width: 100px; text-align: left;">Opções</th>
                    </tr>

                    {% for city in object_list %}
                    <tr>
                        <td> {{ city.name }} </td>
                        <td> {{ city.state }} </td>
                        <td style="text-align: left;">
                            <a href="{% url 'records-UpdateCity' city.pk %}" class="me-2"><i class="bi bi-pencil-fill"></i></a>
                            <a href="{% url 'records-DeleteCity' city.pk %}" class="text-danger"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Nenhum Campo Registrado</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>

</section><!-- /About Section -->

<script>
    window.addEventListener('load', function () {
    window.scrollTo(0, 0); // /Reset Scroll
    });
</script>
{% endblock %}